/* Google font CDN Import link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Sora", sans-serif;
}
.primary-color {
  color: #122555;
}
.primary-hover:hover {
  color: #122555;
}
body {
  font-family: "Inter", sans-serif;
}
